* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(56, 186, 222);
}

/* ------------------------------top-bar----------------------------- */
.top-bar {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-header h3 {
    text-decoration: none;
    align-self: center;
}

.right-header>a {
    color: black;
}

/* -----------------------------top-bar END ------------------------------ */

/* ------------------------------------nav-bar-------------------------------------------- */

.whole-nav {
    background: rgb(37, 37, 231);
    height: auto;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 82%;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: auto;
}

/* -------------media-query-------- */
@media screen and (max-width: 600px) {
    .whole-nav {
        height: auto;
        background: rgb(37, 37, 231);
        /* position: sticky;
        top: 20px; */
    }

    .nav-bar {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: sticky;
        top: 5px;
    }

    .right-nav nav ul {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .main-page {
        background-position-y: 10%;

    }
}

/* ---------------------------------------------nav-bar END------------------------------------------ */
/* ----------------------------------------logo-nav----------------------------------- */

.logo-nav img {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.right-nav nav ul {
    display: flex;
    /* border: 2px solid red; */
    /* width: 90%; */
}

.right-nav nav ul li {
    list-style: none;
    padding: 0 20px;
    font-size: 23px;
}

.right-nav nav ul li a {
    text-decoration: none;
    color: white;
}

/* --------------------------------------------logo-nav END--------------------------- */

/* ------------------------------------------main-page------------------------------- */
.main-page {
    background-image: url(Images/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    background: rgba(227, 226, 226, 0.6);
    color: black;
    width: 35%;
    height: 35%;
    /* border: 2px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding: 0 6px;
}

.welcome-message hr,
h1,
p {
    margin-top: 20px;
}

.welcome-message hr {
    width: 80%;
    align-self: center;
}


@media screen and (max-width: 1020px) {
    .welcome-message {
        height: 60%;
    }
}

@media screen and (max-width:390px) {
    .main-page {
        width: 390px;
    }

    .whole-nav {
        width: 390px;

    }

    .top-bar {
        width: 390px;
    }
}

@media screen and (max-width: 535px) {
    .welcome-message {
        font-size: 12px;
        height: 40%;
        padding: 0 6px;
    }
}


/* ----------------------------------------------main-page END---------------------------------------- */

/* -------------------------------------------------latest-posts------------------------------------------- */

/* --------------------------------posts--------------------------- */
#latest-posts {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 20px;
    width: 90%;
    margin: auto;
    /* gap: 10px; */
    /* border: 2px solid red; */
}

.main-latestposts-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90%;
    align-items: space-around;
    /* border: 2px solid red; */
    margin: auto;

}

.main-latestposts-div hr {
    margin-bottom: 10px;
    width: 90%;
}

#latest-posts h1 {
    display: flex;
    /* justify-content: flex-start; */
    width: 80%;
    /* border: 2px solid red; */
}

.container-latestposts {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;

    /* border: 2px solid red; */
}

@media screen and (max-width: 825px) {

    .container-latestposts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        /* border: 2px solid black; */
    }

    .left-latest-posts {
        /* border: 2px solid red; */

        /* display: flex;
        flex-direction: column; */
        /* width: 100%; */
    }

    .posts {
        border: 2px solid blue;
        width: 147%;
    }

    .side-latestposts-div {
        display: flex;
        flex-direction: column;
        /* border: 2px solid green; */
        justify-content: center;
        align-self: center;
        width: 100%;
        margin-top: 10px;
    }

    .side-by-country,
    .side-by-date {
        /* border: 2px solid red; */
        width: auto;
    }
}

    @media screen and (max-width:520px) {
        .posts {
            height: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            /* width: auto; */
        }

        .img-posts{
            /* border: 2px solid red  ; */
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
           justify-content: center;
        }

        /* .img-posts img{
            width: 100%;
            height: auto;
        } */
    }

    .img-posts img{
        width: 200px;
        height: 150px;
    }


    .posts {
        /* width: 100%; */
        height: auto;
        padding: 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        background: rgba(253, 254, 255, 0.6);
        border: none;
        border-radius: 8px;
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.6);
        /* border: 2px solid red; */
    }

    .para-posts {
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        gap: 20px;
    }

    .button-posts {
        display: flex;
        justify-content: flex-end;

        button {
            background: rgb(124, 212, 236);
            border: 1px solid black;
            border-radius: 8px;
            padding: 5px;
            box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }
    }

   

    /* ---------------------------------side-latestposts-div------------------0000 */

    .side-latestposts-div {
        display: flex;
        flex-direction: column;
        min-width: 25%;
        height: auto;
        margin-right: 5px;
    }

    .side-by-country,
    .side-by-date {
        display: flex;
        flex-direction: column;
        background: rgba(139, 240, 139, 0.4);
        /* height: 25%; */
        min-width: 25%;
        /* border: 2px solid black; */
        padding: 6px 30px;
        border-radius: 10px;
        margin-top: 6px;
    }

    .side-by-country>ul {
        margin-left: 15px;
        margin-top: 10px;
    }

    .side-by-date>ul {
        margin-left: 15px;
        margin-top: 10px;
    }


    .left-latest-posts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 65%;
    }